services:
  - type: web
    runtime: static
    name: pe-prn232-frontend
    rootDir: Frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: VITE_API_BASE_URL
        value: https://pe-prn232.onrender.com
    routes:
      - type: rewrite
        source: /*
        destination: /index.html